node_modules/
dist/
build/
.turbo/
.env
.env.local
*.log
*.tsbuildinfo

storage/repos/*
storage/builds/*
storage/certs/*
storage/logs/*
storage/volumes/*

!storage/repos/.gitkeep
!storage/builds/.gitkeep
!storage/certs/.gitkeep
!storage/logs/.gitkeep
!storage/volumes/.gitkeep
